.blue{
    color:rgb(30, 144, 219);
}
.red{
    color:rgb(190, 28, 28);
}
.green{
    color:rgb(56, 192, 56);
}
.yellow{
    color:rgb(248, 211, 47);
}
.orange{
    color:rgb(221, 129, 23);
}
.purple{
    color:rgb(128, 34, 128);
}

.black{
    color:rgb(0, 0, 0);
}

.bblue{
    background-color:rgb(30, 144, 219);
}
.blight_blue{
    background-color:rgb(115, 171, 209);
}
.bred{
    background-color:rgb(190, 28, 28);
}
.bgreen{
    background-color:rgb(56, 192, 56);
}
.byellow{
    background-color:rgb(248, 211, 47);
}
.borange{
    background-color:rgb(221, 129, 23);
}
.bpurple{
    background-color:rgb(128, 34, 128);
}
.bwhite{
    background-color:rgb(255, 255, 255);
}

/* Colors per a dia pelicula */ 
.dia_pelicula{
    background-color: rgb(226, 180, 120);
}

.dia_pelicula:hover{
    background-color: rgb(228, 120, 48);
}

.dia_actiu{
    background-color: rgb(212, 95, 52) !important;
}

/* Botons */

.btn{
    background-color: white;
    color: #62639b;
    font-weight: bold;
}

.btn:hover{
    background-color:orange;
    font-weight: bold;
    
}

.btn:active{
    background-color: rgb(128, 128, 128);
}

#grey{
    border: solid 1px black;
    border-radius: 20%;
    background-color:#a0a0a0 ;
}