/*Standard*/
body{
    color:#62639b;
}
h1{
    text-align: center;
}
h2{
    text-align: center; 
}
/* BUtaques*/

.table {
    margin-left: 50px;
}
.butaca {
    width: 30px;
    height: 30px;
    border-color: black;
    border-style: solid;
    border-radius: 20%;
    border-width: 0.5%;
    padding: 5px;
    box-shadow:3px 3px #9c9c9c;
}
.espai {
    padding-left: 40px;
}

.disponible {
    background-color: #ffffff;
}

.disponible:hover {
    background-color: #ffa600;
}

.disponible:active {
   /*box-shadow: 5px 5px #575757;*/
}

.NoDisponible {
    background-color: #a0a0a0;
}

.selecionat {
    background-color: #91ae3a;
}

.selecionat:active {
   background-color: #608000;
   box-shadow: 5px 5px #575757;
}

#b_s {
    margin-left: 10px;
    font-size: 15px;
    padding: 0.5%;
}

#n_s {
    margin-left: 10px;
    font-size: 15px;
    padding: 0.5%;
}

#c_f {
    margin-left: 10px;
    font-size: 15px;
    padding: 0.5%;
}
#cos{
    position: relative;
    box-shadow:3px 3px 3px 3px #575757;
    float: left;
    background-color: #62639b;
    border-radius: 25px;
    margin-left: 5%;
    margin-bottom: 40px;
    width: 90%;
    height: 1400px;
    
}
#taula{
    position: static;
    margin: 2%;
    padding-top:2%;
    background-color: white;
    box-shadow:3px 3px 3px 3px #575757;
    border-radius: 25px;
    width: 56%;
    height: 596px;
    float: left;
}
#dades{
    position: static;
    margin-top: 1%;
    margin-left: 1%;
    padding: 0.5%;
    box-shadow:3px 3px 3px 3px #575757;
    border-radius: 25px;
    background-color: white;
    width: 36%;
    float: left;
}
#titol{
    box-shadow:3px 3px 3px 3px #575757;
    border-radius: 25px;
    background-color: white;
    width: 96%;
    margin-top: 1%;
    padding-top: 0.25%;
    padding-bottom:0.5%;
    margin-left: 2%;
}
#taulaButaques{
  margin: 2%;
}
#descripcio{
    position: static;
    margin-top: 2%; 
    margin-left: 1%;
    padding: 0.5%;
    box-shadow:3px 3px 3px 3px #575757;
    border-radius: 25px;
    background-color: white;
    width: 36%;
    float: left;
}
#menu{
    position: static;
    margin-top: 1%;
    margin-left: 1%;
    padding: 0.5%;
    box-shadow:3px 3px 3px 3px #575757;
    border-radius: 25px;
    background-color: white;
    height: 80px;
    width: 36%;
    float: left;
}

#botones{
    margin-top: 1%;
    width: 100%;
    height: 100px;
    color: red;
    float: left;

}
.min{
    font-size: 13px !important;
}
.formulario{
    width: 80%;
    height:10%;
    padding-top: 2%;
    padding-left: 20px;
    background-color: white;
    box-shadow:3px 3px 3px 3px #575757;
    border-radius: 25px;
    margin:auto;
    margin-top: 2%;
}

/*form*/.f_historial{
    padding: 2%;
    width: 100%;
    height:100%;
    margin-left:35%;
    margin-top:2%;
}
.p_historial{
    width: 80%;

    background-color: white;
    box-shadow:3px 3px 3px 3px #575757;
    border-radius: 25px;
    margin:auto;
    margin-top: 2%;
    padding-bottom: 1%;
}
.p_margin{
    margin: 1%;
    padding-top: 0.5%;
}
#menu_a{
    text-align: center;
    width: 30%;
    margin:auto;
    margin-top: 2%;
    padding-top:3%; 
    padding-bottom:3%; 
    box-shadow:3px 3px 3px 3px #575757;
    border-radius: 25px;
    background-color: white;
}

#f_admin_box{
    margin: auto;
    margin-top:2%;
    width: 60%;
    height: 20%;
}
.f_admin{
    font-weight: bold;
    padding:2%; 
    height: 100%;
    font-size: 14px;
    margin-top:2%;
    border-radius: 25px;
    background-color: white;
    border:solid 1px black;
}
.f_admin>form>label{
    text-align: center;

}
#f_ad_p{
    float: left;
    margin:auto;

}

#f_ad_s{
    float: right;
    margin:auto;
  

}
#fpelicula input{
    width: 80%;
}
#fpelicula textarea{
    width: 79%;
}
.b_admin{
    margin-left: 40%;
}
#fpelicula .b_admin{
width: auto;
}
#p_registrades{
    float: left;
    padding:2%; 
    font-size: 14px;
    border-radius: 25px;
    background-color: white;
    border:solid 1px black;
}
#s_registrades{
    height: 100%;
    float: right;
    padding:2%; 
    font-size: 14px;
    border-radius: 25px;
    background-color: white;
    border:solid 1px black;
}
.tamano{
    min-width: 40%;
    max-width: 40%;
}
#consultes{

    margin: auto;
    padding-top:2%;
    width: 60%;
    height: auto;
}

/*Fi butaques*/
#b_borrar{
    text-align: center;
    width: 100%;
    padding-top: 2%;

}
#b_borrar>#borrar_peli{
    margin-right: 9%;
}
#b_borrar>#borrar_sessio{
    margin-left: 10%;
}
.btn{
    font-weight: bold;
    margin: auto;
    font-size: 1.1em;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.btn:hover{
    color:white;
    font-weight: bold;
    margin: auto;
    font-size: 1.1em;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.btn_long{
    margin: auto;
    width: 50%;
}
.correu{
    margin:auto;
    width: 50%;
    margin-top:2%;
    padding-top:2%; 
    padding-bottom:2%;
    padding-left:2%;
    font-size: 14px;
    border-radius: 25px;
    background-color: white;
}
.margin{
    text-align: center;
    margin-top:1%;
    width: auto;

}
#n_registrar{
    text-align: center;
    font-size: 20px;
    color: red;
}
.form_compra{
    width: 80%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    background-color: white;
    box-shadow:3px 3px 3px 3px #575757;
    border-radius: 25px;
    margin:auto;
    margin-top: 2%;

}
.esquerra{
    float: left;
    margin-left:20%;
}
.dreta{
    float: right;
    margin-right:60%;
}
.esquerra:hover{
    float: left;
    margin-left:20%;
}
.dreta:hover{
    float: right;
    margin-right:60%;
}