/* Paguina Principal */

a{
    text-decoration: none;
}

h1{
    margin: 0px;
    font-weight: bolder;
    font-size: 5em;
}

.titol{
    text-align: center;
    margin: auto;
    width: 85%;

    padding: 10px;

    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;

    box-shadow: 2px 2px 10px rgb(27, 27, 27);

    margin-top: 20px;
    margin-bottom: 20px;
}

/* Box_ Pelis */

.box_pelis{
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.caratula{
    width: 20%;
    height: 25%; 
}

/* botons calendari */

.box_botons_mes{
    text-align: center;
    margin: auto;
    margin-top: -50px;
    margin-bottom:20px;
    width: 85%;
    height: 60px;
}

.boto_mes{
    width: 40%;
    padding: 0px;
    font-size: 2em;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.boto_mes:hover{
    background-color: rgb(177, 104, 22);
}

.boto_mes:active{
    background-color: rgb(158, 86, 8);
}


/* fi botons calendari */

/* Calendari */

.dia{
    padding: 10px;
    background-color: rgb(250, 151, 39);
}
.box_main_calendari{
    width: 100%;
}

.print_calendari{
    margin: auto;
}

.print_calendari > div{
    height: 450px;
    padding: 20px;
    margin-bottom: 20px;
}

table{
    margin: auto;
    background-color: beige;
}

td{
    min-width: 90px;
    height: 60px;
    border-radius: 2px;
    text-align: center;
    
}

.mes_actual{
    background-color: rgb(206, 206, 206);
    border-color: rgb(136, 136, 136);
    border-style: solid;
    border-width: 1px;
}

/* Fi Calendari*/

/* Mostrar_hores */
.box_peli_selec{
    margin: auto;
    margin-top: 50px;
    width: 84%;
    height: 200px;
    padding: 15px;
    box-shadow: 0px 5px 15px rgb(29, 29, 29);
    border-color: rgb(32, 18, 51);
    border-style: solid;
    border-width: 2px;
}

.box_titulo_pelicula{
    text-align: center;
    margin: auto;
    margin-top: -20px;
    width: 100%;
    padding: 0px;
}

#titol_peli{
    font-family: 'Staatliches', cursive;
    font-size: 4em;
    color: white;
    padding: 20px;
    margin: 0px;
}

#hora_peli{
    font-family: 'Staatliches', cursive;
    font-size: 3em;
    color: white;
    padding: 0px;
    margin-top: -30px;
}

/* Fi Mostrar Hores */

.box_boto_enviar_dia{
    text-align: center;
    margin: auto;
    width: 90%;
    height: 52px;
    padding: 0px;
    margin-top: -50px;
}

.main_box_botons_historial{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

.box_botons_historial{
    margin: auto;
    text-align: center;
    width: 50%;
}

.box_anar_historial{
    margin: auto;
    text-align: center;
    width: 50%;
}

.box_boto_enrere{
    margin: auto;
    width: 90px;
    margin-top: -200px;
}

/* FI Paguina Principal */